html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }

a {
  color: #F6504B;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(255,110,127, 0.7);
}
