html {
  font-size: 16px;
  box-sizing: border-box;
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #f6504b;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  /* color: rgba(255,110,127, 0.7); */
  opacity: 0.8;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/sfProText.woff2') format('woff2');
}

body {
  background-color: #000000;
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, sans-serif;
}
