html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #f6504b;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  /* color: rgba(255,110,127, 0.7); */
  opacity: 0.8;
}

@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/SF-Pro-Text-Regular.woff2") format("woff2");
}

body {
  background-color: #30177d;
}