name: Docker-Staging

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  Build-and-Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare tags
        id: prep
        run: |
          BRANCH=${GITHUB_REF#refs/heads/}
          if [[ $GITHUB_REF == refs/heads/main ]]; then
            BRANCH="revamp"
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            BRANCH="build-test"
          fi
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          echo ::set-output name=branch::${BRANCH}
      # - name: Prepare docker build env (tbd when env ready)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        # if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          # push: ${{ github.event_name != 'pull_request' }}
          push: true
          # build-args: (tbd when env ready
          tags: forbole/big-dipper-landing:staging
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}